body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 24px;
}

.primary {
  color: #6070ff;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-header {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
}

.nav-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.personal-info {
  background: #f3f3f3;
}

.info-container {
  padding: 85px 24px 200px 24px;
  border-bottom-left-radius: 80px;
  background: url(./images/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-bottom: 8px;
  width: 70%;
}

.intro {
  background: white;
  font-size: 16px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 0;
}

.connect {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

.link {
  margin-right: 19px;
}

.social-links {
  display: flex;
}

.work {
  background: #f3f3f3;
  padding: 114px 24px 0 24px;
  display: grid;
  grid-gap: 80px;
}

.card {
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.card-img {
  width: 100%;
}

.card-title {
  margin-top: 12px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-details {
  padding-bottom: 8px;
}

.card-details * {
  margin-right: 12px;
  color: #7a869a;
  font-weight: 600;
  font-size: 14px;
}

.active-span {
  color: #344563;
}

.card p {
  font-size: 16px;
  color: #344563;
  line-height: 24px;
  margin-bottom: 0;
}

.card ul {
  margin-top: 12px;
  display: flex;
  margin-bottom: 20px;
}

.card li {
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 8px;
}

.primary-btn {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  background: white;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 12px 13px;
  margin-bottom: 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.about-me {
  padding-top: 114px;
  background: #f3f3f3;
}

.about-container {
  background: white;
  border-top-right-radius: 80px;
  padding: 114px 24px;
}

.about-me h2 {
  margin-top: 0;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 8px;
}

.about-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px 24px 15px;
  border-bottom: 1px solid #dfe1e6;
  font-size: 20px;
  font-weight: 500;
}

.first-child {
  border: unset;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
}

.opened {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}

.one-lang {
  display: flex;
  align-items: center;
  width: 100%;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 12px;
  margin-bottom: 12px;
}

.one-lang img {
  margin-right: 16px;
}

.one-lang span {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}

.about-details ul {
  width: 98%;
}
