body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 24px;
}

.primary {
  color: #6070ff;
}

ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.nav-header {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
}

.nav-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

nav a {
  display: none;
}

.personal-info {
  background: #f3f3f3;
}

.info-container {
  padding: 85px 24px 200px 24px;
  border-bottom-left-radius: 80px;
  background: url(./images/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-bottom: 8px;
  width: 70%;
}

.intro {
  background: white;
  font-size: 16px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 0;
}

.connect {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

.link {
  margin-right: 19px;
}

.social-links {
  display: flex;
}

.work {
  background: #f3f3f3;
  padding: 114px 24px 0 24px;
  display: grid;
  grid-gap: 80px;
}

.card {
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.card-img {
  width: 100%;
}

.card-title {
  margin-top: 12px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 63%;
}

.card-details {
  padding-bottom: 8px;
}

.card-details * {
  margin-right: 12px;
  color: #7a869a;
  font-weight: 600;
  font-size: 14px;
}

.active-span {
  color: #344563;
}

.card p {
  font-size: 16px;
  color: #344563;
  line-height: 24px;
  margin-bottom: 0;
}

.card ul {
  margin-top: 12px;
  display: flex;
  margin-bottom: 20px;
}

.card li {
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 8px;
}

.primary-btn {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  background: white;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 12px 13px;
  margin-bottom: 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.about-me {
  padding-top: 114px;
  background: #f3f3f3;
}

.about-container {
  background: white;
  border-top-right-radius: 80px;
  padding: 114px 24px;
}

.about-me h2 {
  margin-top: 0;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 8px;
}

.about-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px 24px 15px;
  border-bottom: 1px solid #dfe1e6;
  font-size: 20px;
  font-weight: 500;
}

.first-child {
  border: unset;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
}

.opened {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}

.one-lang {
  display: flex;
  align-items: center;
  width: 100%;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 12px;
  margin-bottom: 12px;
}

.one-lang img {
  margin-right: 16px;
}

.one-lang span {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}

.about-details ul {
  width: 98%;
}

form {
  background: #6070ff;
  border-top-left-radius: 80px;
}

.form-container {
  background: url(./images/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 100px 24px 45px 24px;
  background-position: 100% 42%;
  display: flex;
  flex-direction: column;
}

form h4 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0;
}

form p {
  color: #ebebff;
  font-size: 20px;
  text-align: center;
  margin: 12px 0 80px 0;
}

.form-input {
  width: -webkit-fill-available;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  padding: 15px 16px;
  margin-bottom: 20px;
}

::placeholder {
  color: #b3bac5;
}

textarea {
  min-height: 170px;
}

form button {
  align-self: flex-start;
}

@media only screen and (min-width: 768px) {
  header {
    margin: 25px 13%;
  }

  nav a {
    font-size: 15px;
    color: #344563;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
  }

  nav a:last-child {
    margin-right: 0;
  }

  .info-container {
    background: url(./images/desktop-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    padding: 185px 16% 250px 16%;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .intro {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .social-links li {
    background-color: white;
  }

  .nav-img {
    display: none;
  }

  nav a {
    display: block;
    transition-property: text-decoration;
    transition-duration: 3s;
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav {
    display: flex;
  }

  .work {
    padding: 142px 13%;
  }

  .card {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-gap: 3%;
    border-radius: 24px;
    padding: 24px;
  }

  .card-img {
    height: 100%;
  }

  .card-title {
    margin-top: 24px;
    font-size: 40px;
    margin-bottom: 12px;
    width: 100%;
  }

  .card-details * {
    font-size: 18px;
    font-weight: 400;
  }

  .active-span {
    font-weight: 500;
  }

  .card p {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .primary-btn {
    margin-top: 20px;
  }

  .card:nth-child(even) {
    direction: rtl;
  }

  .card-title:nth-of-type(odd) {
    text-align: left;
  }

  .card p:nth-of-type(odd) {
    text-align: left;
  }

  .card-content:nth-of-type(odd) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .card-content:nth-of-type(odd) .card-details {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .card:nth-of-type(even) ul {
    width: 100%;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .social-links img {
    transition: width 2s, height 2s ease-in-out 2s;
  }

  .social-links img:hover {
    width: 25px;
    height: 25px;
  }

  .primary-btn {
    transition: padding 3s font-size 3s;
    cursor: pointer;
    min-width: 140px;
  }

  .primary-btn:hover {
    font-size: 19px;
    padding: 15px 18px;
  }

  .about-container {
    padding: 114px 13%;
    display: grid;
    grid-template-columns: 33% 65%;
    grid-gap: 2%;
  }

  .first-child ul {
      display: flex;
  }

  .one-lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
    margin-right: 12px;
    width: unset;
}

.one-lang img {
  margin-bottom: 16px;
}

.form-container {
  width: 37%;
    margin: auto;
  }

  form {
    background: url(./images/form-bg.svg);
    background-repeat: no-repeat;
    background-color: #6070ff;
    background-size: 100%;
  }

.form-container button {
  margin: auto;
}

.form-input {
  width: 88%;
  margin: auto auto 20px auto;
    border-radius: 2px;
}
}
